# Environment variables
.env

# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build artifacts
build/
dist/
*.egg-info/

# Reports (optional, if you don't want to commit them)
reports/

# IDE specific
.vscode/
.idea/
